<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="./assets/img/favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/query.css">
    <link rel="stylesheet" href="/css/card.css">
    <link rel="stylesheet" href="/css/style.css">
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <title>SMECH</title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3090476800151793"
    crossorigin="anonymous"></script>
</head>
</body>

<header>
    <nav class="nav">
        
           <h2 class="logo">smech</h2>
<i class="fa-bars fa mobile"></i>
          
        
        <ul class="undernav">
            <li><a href="/review">Review</a></li>
            <li><a href="/faq">FAQS</a></li>
            <li><a href='/technician/signup'>become a technician</a></li>
            <a class='btn' href='/mechs'>Find Mechanics</a>
            <a href="/account" style="display: flex;">
                <img class="profile" src="/uploads/<%= user.profilePicture  %>" alt="">
                <li style="padding-top: 14px;">Welcome</li>
            </a>

        </ul>
    </nav>
  
       
          

        

      
        <div class="hero">
      <div class="div">
        <h1 class="head">Car Repair, <br>Delivered.</h1>
        <p class="para">Looking for a car mechanic near you
            for repair or maintenance? <br>
            Omech brings the shop to you.
            
            </p>
            <btn href="#mech" class="btn-2">Find mechanics</btn>
      </div>
<img src="/img/light_skin_black_auto_mechanic_rigged_lxo_00-removebg-preview (1).png" class="img" alt="">
        </div>
</header>
    <section class="rating">
        <div class="rater">
            <div class="rates">
                <div class="rate">
                    <div class="no">4.9</div>
                  
                </div>
                <div class="star">
                    <img src="/img/star.svg" alt="" class="star">
                    <img src="/img/star.svg" alt="" class="star">
                    <img src="/img/star.svg" alt="" class="star">
                    <img src="/img/star.svg" alt="" class="star">
                    <img src="/img/star.svg" alt="" class="star">
                </div>
            </div>
            <div class="review">
                <img src="./assets/img/ihifix.png" class="rated" alt="">
                <p>(1022 reviews)</p>
            </div>
            
        </div>
  
        <!-- <div class="rater none">
            <div class="rates">
                <div class="rate">
                    <div class="no">4.9</div>
                  
                </div>
                <div class="star">
                    <img src="./assets/img/star.svg" alt="" class="star">
                    <img src="./assets/img/star.svg" alt="" class="star">
                    <img src="./assets/img/star.svg" alt="" class="star">
                    <img src="./assets/img/star.svg" alt="" class="star">
                    <img src="./assets/img/star.svg" alt="" class="star">
                </div>
            </div>
            <div class="review">
                <img src="./assets/img/ihifix.png" class="rated" alt="">
                <p>(1022 reviews)</p>
            </div>
            
        </div>
        <div class="rater none">
            <div class="rates">
                <div class="rate">
                    <div class="no">4.9</div>
                  
                </div>
                <div class="star">
                    <img src="./assets/img/star.svg" alt="" class="star">
                    <img src="./assets/img/star.svg" alt="" class="star">
                    <img src="./assets/img/star.svg" alt="" class="star">
                    <img src="./assets/img/star.svg" alt="" class="star">
                    <img src="./assets/img/star.svg" alt="" class="star">
                </div>
            </div>
            <div class="review">
                <img src="./assets/img/ihifix.png" class="rated" alt="">
                <p>(1022 reviews)</p>
            </div>
            
            
        </div> -->

        
        <!-- <div class="rates">
            <div class="rate">
                <div class="no">4.9</div>
            </div>
            <div class="star">
                <img src="/assets/img/star.svg" alt="" class="star">
                <img src="/assets/img/star.svg" alt="" class="star">
                <img src="/assets/img/star.svg" alt="" class="star">
                <img src="/assets/img/star.svg" alt="" class="star">
                <img src="/assets/img/star.svg" alt="" class="star">
            </div>
        </div>
        <div class="rates">
            <div class="rate">
                <div class="no">4.9</div>
            </div>
            <div class="star">
                <img src="/assets/img/star.svg" alt="" class="star">
                <img src="/assets/img/star.svg" alt="" class="star">
                <img src="/assets/img/star.svg" alt="" class="star">
                <img src="/assets/img/star.svg" alt="" class="star">
                <img src="/assets/img/star.svg" alt="" class="star">
            </div>
        </div> -->
    </section>
    <section class="service" id="service">
        <h1 class="heading">Choose from 200+ auto repair services</h1>
        <p class="service-p subline">We’re here to keep you moving. Easy online scheduling, upfront pricing, and expert auto mechanics that come to your home or office.</p>
        <img src="/img/techs.png" class="imgs" alt="" srcset="">
    </section>
    <div class="service">
        <div class="row j">
            <div class="h">
                <h1 id="heading" class="mb-0">Find Reliable Mechanics</h1>
                <small id="heading0">Creative Thinking For Business PSD Template</small>
            </div>
        </div>
    <div class="row justify-content-center">
         
       
        <% mechanics.forEach(mechanics => { %>

            <div class="card">
                    <div class="card-header" style="background-image: url(/uploads/<%=mechanics.profilePicture%>);">

                        <div class="card-header-slanted-edge">
                        <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 200">
                            <path class="polygon" d="M-20,200,1000,0V200Z" />
                        </svg> -->
                        <a href="/technician/profile/<%= mechanics._id %>" class="btn-follow"><span class="sr-only">Follow</span></a>
                        </div>

                    </div>

                    <div class="card-body">
                <h2 class="name"><%= mechanics.firstname %></h2>
                <h4 class="job-title"><%= mechanics.speciality %></h4>
                <div class="bio"><%= mechanics.about %></div>
                <div class="social-accounts">
                    <a href="<%= mechanics.facebook %>"><img src="https://res.cloudinary.com/dj14cmwoz/image/upload/v1491077480/profile-card/images/facebook.svg" alt=""><span class="sr-only">Dribbble</span></a>
                    <a href="<%= mechanics.instagram %>"><img src="https://res.cloudinary.com/dj14cmwoz/image/upload/v1491077480/profile-card/images/twitter.svg" alt=""><span class="sr-only">Twitter</span></a>
                    <a href="<%= mechanics.twitter %>"><img src="https://res.cloudinary.com/dj14cmwoz/image/upload/v1491077480/profile-card/images/instagram.svg" alt=""><span class="sr-only">Instagram</span></a>
                </div>
                    </div>
            </div>

        <% }); %>
        
    </div>

        <a href="/mechs" class="btn btn-lg text-center btn-light" style="margin-top: 10px;">VIEW MORE MECHANICS</a>
    </div>

    <!-- <section class="service ash" id="mech service">
        <h1 class="heading">Our Mechanic</h1>
        <p class="service-p subline">Choose from our amazing</p>



        <div class="row">
            <div class="row">




              
            <!-- <!-- <div class="card">
                <img src="/img/2.png" class="pimg" alt="">
                <h2>Jack</h2>
                <p class="speciality">Brake Pad</p>
                <button class="seeall">Request</button>
            </div> -->
            <!-- <div class="card">
                <img src="/img/1.png" class="pimg" alt="">
                <h2>Master</h2>
                <p class="speciality">Brake Pad</p>
                <button class="seeall">Request</button>
            </div> -->
            <!-- <div class="card">
                <img src="/img/young-worker-car-workshop-removebg-preview.png" class="pimg" alt="">
                <h2>2 Color</h2>
                <p class="speciality">Brake Pad</p>
                <button class="seeall">Request</button>
            </div> --> -->
            <!-- <div class="card">
                <img src="/img/young-worker-car-workshop-removebg-preview.png" class="pimg" alt="">
                <h2>Jack</h2>
                <p class="speciality">Brake Pad</p>
                <button class="seeall">Request</button>
            </div>
            <div class="card">
                <img src="/img/young-worker-car-workshop-removebg-preview.png" class="pimg" alt="">
                <h2>Jack</h2>
                <p class="speciality">Brake Pad</p>
                <button class="seeall">Request</button>
            </div>
            <div class="card">
                <img src="/img/happy-black-auto-mechanic-working-car-workshop-looking-camera-removebg-preview.png" class="pimg" alt="">
                <h2>Noah</h2>
                <p class="speciality">Brake Pad</p>
                <button class="seeall">Request</button>
            </div>
            <div class="card">
                <img src="/img/repair-smith-testimonials-3.png" class="pimg" alt="">
                <h2>Oliver</h2>
                <p class="speciality">Brake Pad</p>
                <button class="seeall">Request</button>
            </div>
            <div class="card">
                <img src="/img/repair-smith-testimonials-4.png" class="pimg" alt="">
                <h2>Hugo</h2>
                <p class="speciality">Brake Pad</p>
                <button class="seeall">Request</button>
            </div> -->
        </div>

    </section> -->

    <!-- <section class="pricing" >
        <h1 class="repair">Honest, upfront pricing*</h1>
        <p class="repair-p">*Seriously.</p>
        <div class="pricings">
            <div class="box">
                <img src="/img/repairsmith-battery.png" alt="">
                <h3 class="repair-name">Battery</h3>
                <p class="repair-desc">Get your battery <br > replaced while you <br> recharge.</p>
                <button class="book">book now</button>
            </div>
            <div class="box">
                <img src="/img/brake-pads.png" alt="">
                <h3 class="repair-name">Brake Pads</h3>
                <p class="repair-desc">Take a break at your pad <br> while we change your <br> brake pads.</p>
                <button class="book">Book Now</button>
            </div>
            <div class="box">
                <img src="/img/oil-change.png" alt="">
                <h3 class="repair-name">Synthetic Oil Change</h3>
                <p class="repair-desc">An oil change without <br> changing out of your <br> PJs.</p>
                <button class="book">Book Now</button>
     
            </div>
            <div class="box">
                <img src="/img/spark-plugs.png" alt="">
                <h3 class="repair-name">Spark Plugs</h3>
                <p class="repair-desc">A spark plug <br> replacement that <br> actually sparks joy.</p>
                <button class="book">Book Now</button>
            </div>
        </div>
        <button class="seeall try">See All Repair</button>

    
     
    
        
    </section> -->
    <section class="how">
        <h1 class="repair">Car repair as easy as 1, 2, 3</h1>
        <p class="service-p">We’ll bring all the parts and tools needed for your repair or service… you just provide the <br> vehicle! The real question is, what will you do with all that free time back in your day?</p>
        <div class="steps">
            <div class="1">
                <video src="/img/Phone_326.webm"  loop playsinline autoplay ></video>
                <h3 class="step-headline">1. Book Online</h3>
                <p class="step-p">Get a quote, book an <br> appointment, speak to a specialist – <br> all online!</p>
            </div>
            <div class="1">
                <video src="/img/House_to_Office_326.webm" loop playsinline autoplay ></video>
                <h3 class="step-headline">2. We come to you</h3>
                <p class="step-p">Our mechanics come to you with <br> all the tools and parts needed for <br> your service.</p>
            </div>
            <div class="1">
                <video src="/img/Fist_bump_326.webm" loop playsinline autoplay ></video>
                <h3 class="step-headline">3. Get on with your day</h3>
                <p class="step-p">A fist bump for the coolest repair <br> experience ever… and that’s it!</p>
            </div>
        </div>
    
    </section>
    <section class="reviews">
        <h1 class="test-head  ">It’s your race. We’re your pit crew.</h1>
        <p class="test-para ">No matter where you’re headed, we’re here to get you there.</p>
        <div class="reviewed">
            <div class="rev">
                <img src="/img/emm-removebg-preview.png" class="reviewer" alt="">
                <h3 class="advice">Complimentary friendly advice</h3>
              <p class="qoute">“Jose is the best! My car broke down last week and he gave me a ton of advice and helped me get back on the road that day.”</p>

              <p class="carname">
                Emmanuel A. , 2013 Toyota Camry
              </p>
            </div>
            <div class="rev">
                <img src="/img/salim-removebg-preview.png" class="reviewer" alt="">
                <h3 class="advice">From stressful to stress-free</h3>
                <p class="qoute">“Mark was friendly, efficient, on time and a professional. A good ending to an otherwise stressful day. Thank you!”</p>
                <p class="carname">Salim , 2015 Honda CR-V</p>
            </div>
            <div class="rev">
                <img src="/img/salawu-removebg-preview.png" class="reviewer" alt="">
                <h3 class="advice">Quality service worth referring</h3>
                <p class="qoute">“Beyond impressed with the quality of service that was provided. I will be referring everyone I know to RepairSmith.”</p>
                <p class="carname">Salawudeen , 2016 BMW 330i</p>
            </div>
            <div class="rev">
                <img src="/img/umee-removebg-preview.png" class="reviewer" alt="">
                <h3 class="advice">At your home or office</h3>
                <p class="qoute">“Phenomenal service techs with next level commitment. When I was ready to leave the office, everything was complete.”</p>
                <p class="carname">Umee , 2011 Mazda CX5</p>
            </div>
        </div>
    </section>
    <!-- <section class="getrepairs">
        <div class="repaired">
            <h2 class="text first-text">get repairs when you</h2>
            <h2 class="text second-text">sleep</h2>
     
             <button class="seeall">
                <a href="/qoute.html"> Get A Qoute</a>
                
             </button>
        </div>

    </section> -->
  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">Scanfcode.com <i>CODE WANTS TO BE SIMPLE </i> is an initiative  to help the upcoming programmers with the code. Scanfcode focuses on providing the most efficient code or snippets as the code wants to be simple. We will help programmers build up concepts in different programming languages that include C, C++, Java, HTML, CSS, Bootstrap, JavaScript, PHP, Android, SQL and Algorithm.</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Categories</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/category/c-language/">C</a></li>
            <li><a href="http://scanfcode.com/category/front-end-development/">UI Design</a></li>
            <li><a href="http://scanfcode.com/category/back-end-development/">PHP</a></li>
            <li><a href="http://scanfcode.com/category/java-programming-language/">Java</a></li>
            <li><a href="http://scanfcode.com/category/android/">Android</a></li>
            <li><a href="http://scanfcode.com/category/templates/">Templates</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/about/">About Us</a></li>
            <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
            <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
            <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
            <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
       <a href="#">Scanfcode</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>

<script>
    document.addEventListener("DOMContentLoaded", function () {
    const mobileElement = document.querySelector(".mobile");
    const undernavElement = document.querySelector(".undernav");

    if (mobileElement && undernavElement) {
        mobileElement.addEventListener("click", function () {
            undernavElement.classList.toggle("block");
        });
    } else {
        console.error("Elements not found.");
    }
    console.log('hulo');
});
</script>
</body>
</html>
